#heading {
     color: brown;
}

.heading {
     text-align: center;
     color: yellowgreen;
}

body {
     background-color: orange;
}

div p {
     /* Styles applied to <p> elements inside <div> elements */
     color: purple;
}

div>p {
     /* Styles applied to <p> elements that are direct children of <div> elements */
     color: red;
}

h2+p {
     /* Styles applied to <p> elements immediately preceded by an <h2> element */
     font-size: xx-large;
}

h2~p {
     /* Styles applied to <p> elements preceded by an <h2> element */
     font-size: xx-large;
}

h1:hover {
     /* Styles applied to <a> elements when hovered over */
     color: cornsilk;
}